@keyframes strike {
  from { text-decoration-color: transparent; }
  to { text-decoration-color: auto; }
}

span {
  padding: 0 2rem 0 1.5rem;
}

ul {
  padding: 0;
}

span.done {  
  text-decoration: line-through;
  animation: strike .5s linear;
  user-select: none;
  color: gray;
}

li.done {
  background-color: #CFCFCF;
}

li {
  list-style: none;
  border: 1px solid grey;
  border-collapse: collapse;
  transition: background-color .5s ease;
}

button, input {
  transition: .5s all ease;
  opacity: 1;
  font-family: inherit;
  padding: .5rem;
  font-size: inherit;
}

input {
  min-width: 16rem;
  width: calc(100% - 3rem);
}

.hidden {
  opacity: 0;
}

button {
  border: none;
  border-radius: 4px;
  font-size: 1rem;
}

button:hover {
  background: black;
  color: white;
}

.delete-btn {
  width: 2.5rem;
}

ul {
  margin: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

ul::-webkit-scrollbar { width: 0 !important }